<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <link rel="stylesheet" type="text/css"
              th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" />

        <title>Registracija</title>
    </head>
    <body>

        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed"
                            data-toggle="collapse" data-target="#navbar" aria-expanded="false"
                            aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span> <span
                            class="icon-bar"></span> <span class="icon-bar"></span> <span
                            class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#" th:href="@{/}">Studentski arhiv</a>
                </div>
            </div>
        </nav>

        <br/>
        <br/>

        <div class="container" style="margin-top: 150px">

            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <h1>Prijava na sistem</h1>
                    <form style="margin-top: 50px" th:action="@{/login}" method="post">
                        <div th:if="${param.error}">
                            <div class="alert alert-danger">Nevalidno korisničko ime ili lozinka.</div>
                        </div>
                        <div th:if="${param.logout}">
                            <div class="alert alert-info">Odjavljeni ste.</div>
                        </div>
                        <div class="form-group">
                            <label for="username">Korisničko ime</label>: <input type="text"
                                                                                 id="username" name="username" class="form-control"
                                                                                 autofocus="autofocus" placeholder="Korisničko ime" />
                        </div>
                        <div class="form-group">
                            <label for="password">Lozinka</label>: <input type="password"
                                                                          id="password" name="password" class="form-control"
                                                                          placeholder="Lozinka" />
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-6 col-sm-offset-3">
                                    <input type="submit" name="login-submit" id="login-submit"
                                           class="form-control btn btn-primary" value="Prijavi se" />
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <span>Novi ste korisnik? <a href="/" th:href="@{/registration}">Registrujte se ovde.</a></span>
                        </div>
                    </form>
                </div>
            </div>


        </div>
        <script type="text/javascript">
            var Tawk_API = Tawk_API || {}, Tawk_LoadStart = new Date();
            (function () {
                var s1 = document.createElement("script"), s0 = document.getElementsByTagName("script")[0];
                s1.async = true;
                s1.src = 'https://embed.tawk.to/5fe90014df060f156a90c1e7/1eqj2gt8g';
                s1.charset = 'UTF-8';
                s1.setAttribute('crossorigin', '*');
                s0.parentNode.insertBefore(s1, s0);
            })();
        </script>
        <script type="text/javascript"
        th:src="@{/webjars/jquery/3.2.1/jquery.min.js/}"></script>
        <script type="text/javascript"
        th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>

    </body>
</html>