<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <meta charset="UTF-8"></meta>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"></link>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <title>Pretraga</title>
        <style>

            .pagination {
                display: inline-block;
            }

            .pagination a {
                color: black;
                float: left;
                padding: 8px 16px;
                text-decoration: none;
            }

            .pagination a.active {
                background-color: #4CAF50;
                color: white;
                border-radius: 5px;
            }

            .pagination a:hover:not(.active) {
                background-color: #ddd;
                border-radius: 5px;
            }

        </style>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="#">Studentski arhiv</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav mr-auto">
                    <a class="nav-item nav-link" href="/" >Dodavanje dokumenata</a>
                    <a class="nav-item nav-link" href="/search/1/" style="color: rgb(255,255,255)">Pretraga</a>
                    <a th:if="${adminLogged}" class="nav-item nav-link" href="/manage/">Upravljanje</a>
                    <ul class="navbar-nav mr-auto">
                        <li sec:authorize="isAuthenticated()"><a class="nav-item nav-link" th:href="@{/logout}">Odjavi se</a></li>
                    </ul>
                </div>
            </div>
        </nav>

        <div id="carouselHomePage" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner" >

                <div class="carousel-item active"  data-interval="500">
                    <img src="https://www.scylladb.com/wp-content/uploads/800x400-blog-elasticsearchscylla.jpg" alt= "slika1" class="d-block w-100" style="width:640px; height: 550px"></img>
                </div>
                <div class="carousel-item"  data-interval="500">
                    <img src="https://extensionscdn.joomla.org/cache/fab_image/58d4e42a3aa62_resizeDown400px175px16.jpg" alt="slika2" class="d-block w-100" style="width:640px; height: 550px"></img>

                </div>
                <div class="carousel-item " data-interval="500">
                    <img src="https://www.scylladb.com/wp-content/uploads/800x400-blog-elasticsearchscylla.jpg" alt="slika3" class="d-block w-100" style="width:640px; height: 550px"></img>
                </div>

            </div>

        </div>

        <div align="center" class="mt-5">
            <form>
                <div class="form-group  col-md-6">
                    <div class="form-row d-flex justify-content-center">
                        <div class="col-md-6"  align="left">
                            <input type="text" name="searchQuery" class="form-control" placeholder="Pretraga" th:value="${searchQuery}" id="searchQuery"/>
                        </div>
                        <div style="padding-top:5px;margin-left: 15px;" id="click">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-sliders" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M11.5 2a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3zM9.05 3a2.5 2.5 0 0 1 4.9 0H16v1h-2.05a2.5 2.5 0 0 1-4.9 0H0V3h9.05zM4.5 7a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3zM2.05 8a2.5 2.5 0 0 1 4.9 0H16v1H6.95a2.5 2.5 0 0 1-4.9 0H0V8h2.05zm9.45 4a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3zm-2.45 1a2.5 2.5 0 0 1 4.9 0H16v1h-2.05a2.5 2.5 0 0 1-4.9 0H0v-1h9.05z"/>
                            </svg>
                        </div>
                    </div>
                </div>
                <div class="form-group col-md-4" >
                    <div class="form-row d-flex justify-content-around">
                        <label>Pretraži:</label>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="searchContent" th:checked="${searchContent}"/>
                            <label class="form-check-label" for="gridCheck">
                                Sadržaj
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="searchTitle" th:checked="${searchTitle}"/>
                            <label class="form-check-label" for="gridCheck">
                                Naslov
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="searchId" th:checked="${searchId}"/>
                            <label class="form-check-label" for="gridCheck">
                                ID dokumenta
                            </label>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="form-row d-flex justify-content-center">
                            <div class="col-md-6" >
                                <label>Vrsta pretrage:</label>
                            </div>
                            <div class="col-md-6">
                                <select name="type" class="form-control" id="type">
                                    <option th:each="tip : ${types}" th:value="${tip.name}" th:text="${tip.name}" th:selected="(${tip.name} == ${type})" ></option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div name="Detaljna_pretraga" id="advancedSearch">
                    <div class="form-group col-md-4">
                        <div class="form-row d-flex justify-content-center">
                            <div class="col-md-6" >
                                <label>Kategorija:</label>
                            </div>
                            <div class="col-md-6">
                                <select name="category" class="form-control" id="category">
                                    <option th:each="categ : ${categories}" th:value="${categ.name}" th:text="${categ.name}" th:selected="(${categ.name} == ${category})" ></option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-md-4">
                        <div class="form-row">
                            <div class="col-md-6">
                                <label>Minimalna veličina(KB)</label>
                                <input class="form-control" type="number" name="minSize" min="0" max="15360" th:value="${minSize}" id="minSize"/>
                            </div>
                            <div class="col-md-6">
                                <label>Maximalna veličina(KB)</label>
                                <input class="form-control" type="number" name="maxSize" min="0" max="15360" th:value="${maxSize}" id="maxSize"/>
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-md-4">
                        <div class="form-row">
                            <div class="col-md-6">
                                <label>Datum kreiranja (od)</label>
                                <input type="date" name="minDate" th:value="${minDate}" id="minDate"/>
                            </div>
                            <div class="col-md-6">
                                <label>Datum kreiranja (do)</label>
                                <input type="date" name="maxDate" th:value="${maxDate}" id="maxDate"/>
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-md-4">
                        <div class="form-row d-flex justify-content-center">
                            <div class="col-md-6" >
                                <label>Sortitaj po:</label>
                            </div>
                            <div class="col-md-6">
                                <select name="sort" class="form-control" id="sort">
                                    <option th:each="srt : ${sorts}" th:value="${srt.value}" th:text="${srt.name}" th:selected="(${srt.value} == ${sort})"></option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Pretraži</button>
            </form>
        </div>
        <div th:if="${prikaziPoruku}" style="width:50%;margin-top:100px; margin-left: 400px;" align="center">
            <div class="alert alert-info" role="alert" th:text="${poruka}">
            </div>
        </div>
        <div th:if="${listaDokumenata!=null and !listaDokumenata.empty and prikaziPoruku==false}">
            <div align="center">
                <table style="width:80%; margin-top:100px" class="table table-bordered table-striped">
                    <thead class="thead-dark">
                        <tr>
                            <th>ID dokumenta</th>
                            <th>Naziv dokumenta</th>
                            <th>Kategorija</th>
                            <th>Datum kreiranja</th>
                            <th>Veličina(KB)</th>
                            <th>Sadržaj</th>
                        </tr>
                    </thead>
                    <th:block th:each="dokument : ${listaDokumenata}">
                        <tr>
                            <td th:text="${dokument.docId}"></td>
                            <td th:text="${dokument.title}"></td>
                            <td th:text="${dokument.category}"></td>
                            <td th:text="${dokument.creationDate}"></td>
                            <td th:text="${dokument.size}"></td>
                            <td class="text-center" th:with="documentId=${dokument.docId}">
                                <a th:href="@{'/download/' + ${documentId}}" class="btn btn-info">Otvori/Preuzmi</a>
                            </td>
                        </tr>
                    </th:block>
                </table>
                <div class="pagination">
                    <a th:if="${previousRange != -1}" th:href="@{'/search/' + ${previousRange} + '/' + ${urlQueryParams}}">&laquo;</a> <!-- znak << -->
                    <th:block th:each="page: ${pages}">
                        <a th:href="@{'/search/' + ${page} + '/' + ${urlQueryParams}}" th:text="${page}" class="" th:classappend="${page == currentPage} ? 'active' : ''"></a>
                    </th:block>
                    <a th:if="${nextRange != -1}" th:href="@{'/search/' + ${nextRange} + '/' + ${urlQueryParams}}">&raquo;</a> <!-- znak >> -->
                </div>
            </div>
        </div>
        <script>
            var advancedSearchDiv = document.getElementById("advancedSearch");
            advancedSearchDiv.style.display = 'none'; //default

            document.getElementById('click').onclick = function advancesSerachShowHide() {
                advancedSearchDiv.style.display = advancedSearchDiv.style.display == 'none' ? 'inline' : 'none';
            }

        </script>
        <script type="text/javascript">
            var Tawk_API = Tawk_API || {}, Tawk_LoadStart = new Date();
            (function () {
                var s1 = document.createElement("script"), s0 = document.getElementsByTagName("script")[0];
                s1.async = true;
                s1.src = 'https://embed.tawk.to/5fe90014df060f156a90c1e7/1eqj2gt8g';
                s1.charset = 'UTF-8';
                s1.setAttribute('crossorigin', '*');
                s0.parentNode.insertBefore(s1, s0);
            })();
        </script>
        <script type="text/javascript"
        th:src="@{/webjars/jquery/3.2.1/jquery.min.js/}"></script>
        <script type="text/javascript"
        th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
    </body>
</html>