<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8"></meta>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"></link>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <title>Pretraga</title>
        <style>
            .pagination {
                display: inline-block;
            }

            .pagination a {
                color: black;
                float: left;
                padding: 8px 16px;
                text-decoration: none;
            }

            .pagination a.active {
                background-color: #4CAF50;
                color: white;
                border-radius: 5px;
            }

            .pagination a:hover:not(.active) {
                background-color: #ddd;
                border-radius: 5px;
            }
        </style>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="#">Elasticsearch</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav mr-auto">
                    <a class="nav-item nav-link" href="/" >Dodavanje dokumenata</a>
                    <a class="nav-item nav-link" href="/search/1/" style="color: rgb(255,255,255)">Pretraga</a>
                    <a class="nav-item nav-link" href="/manage/">Upravljanje</a>
                </div>
            </div>
        </nav>
        <div align="center" class="mt-5">
            <form>
                <div class="form-group">
                    <div class="form-group col-md-4"  align="left">
                        <input type="text" name="searchQuery" class="form-control" placeholder="Pretraga" th:value="${searchQuery}" id="searchQuery"/>
                    </div>
                </div>
                <div class="form-group col-md-4" >
                    <div class="form-row d-flex justify-content-around">
                        <label>Pretraži:</label>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="searchContent" th:checked="${searchContent}"/>
                            <label class="form-check-label" for="gridCheck">
                                Sadržaj
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="searchTitle" th:checked="${searchTitle}"/>
                            <label class="form-check-label" for="gridCheck">
                                Naslov
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="searchId" th:checked="${searchId}"/>
                            <label class="form-check-label" for="gridCheck">
                                ID dokumenta
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group col-md-4">
                    <div class="form-row d-flex justify-content-center">
                        <div class="col-md-6" >
                            <label>Kategorija:</label>
                        </div>
                        <div class="col-md-6">
                            <select name="category" class="form-control" id="category">
                                <option th:each="categ : ${categories}" th:value="${categ.name}" th:text="${categ.name}" th:selected="(${categ.name} == ${category})" ></option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="form-group col-md-4">
                    <div class="form-row">
                        <div class="col-md-6">
                            <label>Minimalna veličina(B)</label>
                            <input class="form-control" type="number" name="minSize" min="0" max="15360" th:value="${minSize}" id="minSize"/>
                        </div>
                        <div class="col-md-6">
                            <label>Maximalna veličina(B)</label>
                            <input class="form-control" type="number" name="maxSize" min="0" max="15360" th:value="${maxSize}" id="maxSize"/>
                        </div>
                    </div>
                </div>
                <div class="form-group col-md-4">
                    <div class="form-row">
                        <div class="col-md-6">
                            <label>Datum kreiranja (od)</label>
                            <input type="date" name="minDate" th:value="${minDate}" id="minDate"/>
                        </div>
                        <div class="col-md-6">
                            <label>Datum kreiranja (do)</label>
                            <input type="date" name="maxDate" th:value="${maxDate}" id="maxDate"/>
                        </div>
                    </div>
                </div>
                <div class="form-group col-md-4">
                    <div class="form-row d-flex justify-content-center">
                        <div class="col-md-6" >
                            <label>Sortitaj po:</label>
                        </div>
                        <div class="col-md-6">
                            <select name="sort" class="form-control" id="sort">
                                <option th:each="srt : ${sorts}" th:value="${srt.value}" th:text="${srt.name}" th:selected="(${srt.value} == ${sort})"></option>
                            </select>
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Pretraži</button>
            </form>
        </div>
        <div th:if="${prikaziPoruku}" style="width:50%;margin-top:100px; margin-left: 400px;" align="center">
            <div class="alert alert-info" role="alert" th:text="${poruka}">
            </div>
        </div>
        <div th:if="${listaDokumenata!=null and !listaDokumenata.empty and prikaziPoruku==false}">
            <div align="center">
                <table style="width:80%; margin-top:100px" class="table table-bordered table-striped">
                    <thead class="thead-dark">
                        <tr>
                            <th>ID dokumenta</th>
                            <th>Naziv dokumenta</th>
                            <th>Kategorija</th>
                            <th>Datum kreiranja</th>
                            <th>Veličina(B)</th>
                            <th>Sadržaj</th>
                        </tr>
                    </thead>
                    <th:block th:each="dokument : ${listaDokumenata}">
                        <tr>
                            <td th:text="${dokument.docId}"></td>
                            <td th:text="${dokument.title}"></td>
                            <td th:text="${dokument.category}"></td>
                            <td th:text="${dokument.creationDate}"></td>
                            <td th:text="${dokument.size}"></td>
                            <td class="text-center" th:with="documentId=${dokument.docId}">
                                <a th:href="@{'/download/' + ${documentId}}" class="btn btn-info">Otvori/Preuzmi</a>
                            </td>
                        </tr>
                    </th:block>
                </table>
                <div class="pagination">
                    <a th:if="${previousRange != -1}" th:href="@{'/search/' + ${previousRange} + '/' + ${urlQueryParams}}">&laquo;</a> <!-- znak << -->
                    <th:block th:each="page: ${pages}">
                        <a th:href="@{'/search/' + ${page} + '/' + ${urlQueryParams}}" th:text="${page}" class="" th:classappend="${page == currentPage} ? 'active' : ''"></a>
                    </th:block>
                    <a th:if="${nextRange != -1}" th:href="@{'/search/' + ${nextRange} + '/' + ${urlQueryParams}}">&raquo;</a> <!-- znak >> -->
                </div>
            </div>
        </div>
    </body>
</html>